<section class="home-feature action-feature {{ spark_class }}" style="background-image: url({{ image.url }});" >
	<div class="container" >
		<div>
			<div class="main-text">
				<h2>{{ heading }}</h2>
				<p>{{ text }}</p>
			</div>
		{% if link != "null" %}
			<div class="feature-link">
				<a href="{{ link }}">
					{{ link_text }}
				</a>
				<span>{{ link_label }}
			</div>
		{% endif %}
		</div>
	</div>	
</section>