<nav class="spark-region {{ spark_class }}">
	<ul>
        {% for item in nav.get_items %}
                <li class="nav-main-item {{item.classes | join(' ')}}"><a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
                    {% if item.get_children %}
                        <div class="nav-drop">
                          <ul>
                          {% for child in item.get_children %}
                            <li class="nav-drop-item {{child.classes | join(' ')}}"><a href="{{child.get_link}}">{{child.title}}</a></li>
                          {% endfor %}
                          </ul>
                        </div>
                     {% endif %}
                </li>
        {% endfor %}
	</ul>
</nav>