

<div id="slideshow-1" class="{{ spark_class }}">
    {% if header %}
        <h1>
            {{ header }}
        </h1>
    {% endif %}
    <h4 class="gallery spark-modal-trigger">View Full Image</h4>
    <div 	id="cycle-1" 
    		class="cycle-slideshow" 
    		data-cycle-slides="> div" 
    		data-cycle-timeout="0"
            data-cycle-fx="scrollHorz" 
    		data-cycle-prev="#slideshow-1 .cycle-prev" 
    		data-cycle-next="#slideshow-1 .cycle-next" 
            data-cycle-auto-height="container"
    		style="position: relative;">

        	{% for slide in feed %}

        	<div class="cycle-slide">
                <div class="text">
                    <span class="caption">{{ slide.caption }}</span>
                    <span class="count">{{ loop.index }}/{{ loop.length }}</span>
                </div>
        		<img src="{{ slide.image.url }}"/>
        	</div>
        	{% endfor %} 
             <ul class="tab-pager" id="slideshow-2">
                <li class="gallery-pager cycle-prev"></li>
                <li class="gallery-pager cycle-next"></li>
            </ul>    
    </div>
    <div id="thumbnail-pager">
        <ul class="tab-pager slideshow-2">
                <li class="feed-pager prev"></li>
        </ul>     
        <div 	id="cycle-2" 
        		class="cycle-slideshow"
        		data-cycle-timeout="0" 
        		data-cycle-prev=".slideshow-2 .prev" 
        		data-cycle-next=".slideshow-2 .next" 
                data-cycle-fx="carousel" 
                data-cycle-carousel-visible="5"
                data-allow-wrap="false"
                data-cycle-slides="> .slide"
                {# data-cycle-carousel-fluid="true" #}
        >
            {% for slide in feed %}
            <div class="slide">
                <div class="slideframe">
                    <img src="{{ slide.image.sizes.thumbnail }}"/>
                </div>
            </div>
            {% endfor %}  
        </div>
        <ul class="tab-pager slideshow-2">
                    <li class="next feed-pager"></li>
        </ul> 
    </div>
</div>
<div class="spark-modal gallery-full-screen">
    <div class="modal-content"><span class="close"></span></div>
</div>
<script>

	jQuery(document).ready(function($){

		var slideshows = $('.cycle-slideshow').on('cycle-next cycle-prev', function(e, opts) {
		    // advance the other slideshow
		    slideshows.not(this).cycle('goto', opts.currSlide);
		});

		$('#cycle-2 .slide').click(function(){
		    var index = $('#cycle-2').data('cycle.API').getSlideIndex(this);
		    slideshows.cycle('goto', index);
		});

	});

</script>