<section class="spark-text-block {{ spark_class }}">
	<div>
		{{ widget }}
		{# <h3>follow us</h3> #}
{# 		{{ dump(widget) }} #}
{# 		<div class="post cf">
		<h2><a href="#">{{ widget.user.name }}</a></h2>

		<p>{{ widget.text }}</a></p>

		<ul class="cf">
			<li><a class="fa fa-share" href="#"><span>share</span></a></li>
			<li><a class="fa fa-retweet" href="#"><span>retweet</span></a></li>
			<li><a class="fa fa-star" href="#"><span>star</span></a></li>
		</ul>
		</div>
		<a class="twitter-follow-button" data-show-count="false" href="https://twitter.com/Rights4Girls">Follow @Rights4Girls</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script
		#}
	</div>
</section>

