{# section.course 
		h2.course-title.page-title
		
#}

<section class="course">
	<h2 class="course-title page-title">{{page.post_title}}</h2>
	<div class="course-description">{{page.post_content}}</div>
		<ul> 
			<li class="price">
				<h2>Price</h2>
				<span>${{page.price}}</span>
			</li>
			<li class="duration">
				<h2>Duration</h2>
				<span>{{page.duration}} wks</span>
			</li>
			<li class="share">
				
			</li>
		</ul>
		<ul class="course-locations">
			{% for location in page.get_field('location') %}
			<li>
				{{location.city}}
			</li>
			{% endfor %}
		</ul>	
		<ul class="course-schedules">
			{% for schedule in page.get_field('schedule') %}
			<li>
				<h4>{{schedule.location}}</h4>
				{{schedule.date}}

			</li>
			{% endfor %}
		</ul>	
</section>


