<footer>
	<ul>
		{% for location in locations %}
		<li class="location">
			<div class="address">
				<p>{{location.city}}</p>
				<p>{{location.address}}</p>
				<P>{{location.address2}}</P>
			</div>
			<ul class="contact">
				<li>
					<a href="{{location.email}}" style="font-family:'FontAwesome'; ">&#xf003;</a>
				</li>
				<li>
					<a href="{{location.phone}}" style="font-family:'FontAwesome'; ">&#xf095;</a>
				</li>
			</ul>
			
		</li>
		{% endfor %}	
	</ul>
</footer>