<section class="spark-menu {{ spark_class }} ">
  <ul class="container">
	{% for item in menu.get_items %}
    <li class="nav-main-item {{item.classes | join(' ')}}">
      <a class="nav-main-link" href="{{item.get_link}}">{{item.title}}</a>
      <span class="description">{{ item.description }}</span>
    </li>
  {% endfor %}
  </ul>
</section>	