<li class="slide" slide-index="{{ loop.index }}">
	<div class="content">
		<div class="image-head" style="background-image:url({{ slide.thumbnail.src }});">
			<h4>{{ slide.post_title }}</h4>
			<h5>{{ slide.display_date }}</h5>
		</div>
		<span>{{ slide.get_preview(25, '', false, '') }}</span>
		<em class="read-more">Read More</em>
	</div> 
</li>