<li class="post-preview">
	<div class="thumbnail">
		<img 
			src="{% if slide.thumbnail %}{{ slide.thumbnail.url }}{% 
					else %}{{ bloginfo('stylesheet_directory')}}/style/images/malika.png{%
					endif 
				%}" 
			width=260 
			height=260 />
		<a class="content" href="{{ slide.permalink }}">Go To Complete Blog</a> 
	</div>

	<div class="post-text">
		<a class="content" href="{{ slide.permalink }}">
			<hgroup>
				<h4>{{ slide.post_title }}</h4>
				<h5>{{slide.display_date}}</h5>
			</hgroup>
			<p>{{ slide.get_preview(25) }}</p>
		</a>
	</div>
</li>