<li class="post-preview">
	<a class="content" href="{{ slide.permalink }}">
		<div class="thumbnail" style="background-image:url( '{{ slide.thumbnail.src }}' );">
			<span>{{slide.post_date|date('m.d.y')}}</span>
		</div>
		<div class="post-text">
			<h4>{{ slide.post_title }}</h4>
			<p>{{ slide.get_preview(25) }}</p>
		</div>
	</a> 
</li>