
{# {% if loop.index%3 == 1 %}
	<ul class="tab-content-group slide">
{% endif %}  #}
<li class="slide team-member-content" data-index="{{ loop.index }}" >
	<div class="front">
		{# {{ dump(slide) }} #}
		<h2>{{ slide.member_name }}</h2>
		<h3>{{ slide.member_position }}</h3>
		<ul class="links">
			{% if slide.member_email %}
				<li class="email"><a href="mailto:{{ slide.member_email }}">{{ slide.member_email }}</a></li>
			{% endif %}
			{% if slide.member_link_label %}
				<li class="personal-link"><a href="{{ slide.member_link_url }}" target="_blank">{{ slide.member_link_label }}</a></li>
			{% endif %}
		</ul>
		<div class="member-bio">{{ slide.member_bio }}</div>
	</div>
</li>
{# {% if ( loop.index%3 == 3 ) or ( loop.last ) %}
	</ul>
{% endif %}  #}
