{# {{ dump(slide) }} #}
<li class="slide" style="background-image:url( '{{ slide.image.url }}' );">
	<div class="content">
		<div class="stat-highlight">
		{% for stat in slide.stats %}
			{% if stat.featured %}
				<h2>{{ stat.statistics }}</h2>
				<h3>{{ stat.statistic_label }}</h3>
				<p>{{ stat.description }}</p>
			{% endif %}
		{% endfor %}	
		</div>		

		<a class="learn-more" href="{{ issues_permalink }}?issue={{ slide.heading | lower |replace({"'":"", " ":"-"}) }}">
			<span class="action">Learn More About</span>
			<h2>{{ slide.heading }}</h2>
		</a>

	</div>
</li> 