<section class="case-study-slide" 
	data-cycle-pager-template="<a href='#' data-index='{{ loop.index }}' class='{{ case.title|replace({" ":"-"}) }}'><span class='icon'><img src='{{ case.icon.url }}'/></span><span>{{ case.title }}</span></a>" 
	data-index="{{ loop.index }}">
	<div class="case-study-info">
		<div class="case-study-content">
			<span class="header circle">
				<img class="icon"  src="{{ case.icon.url }}"/>
			</span>
			<h2>
				{{ case.title }}
			</h2>
			<p>{{ case.description }}</p>
			<div class="lessons">
				<h3>Selected Lessons</h3>
				<ul class="lesson-pager">
					<li class="circle selected" data-index="first"><span>1</span></li>
					<li class="circle" data-index="second"><span>2</span></li>
				</ul>
				<ul class="selected-block">
					<li class="first selected">{{ case.selected_lessons_1 }}</li>
					<li class="second">{{ case.selected_lessons_2 }}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="case-study-feature" style="background-image:url({{ case.feature_image.url }});">
		<div class="case-study-feature-content">
			<h2 class="feature-name">{{ case.feature_name }}</h2>
			<h3 class="feature-title">{{ case.feature_title }}</h3>
			<h4 class="feature-location">{{ case.feature_location }}</h4>
			<p>{{ case.feature_text }}</p>
			<span class="photo-credit">{{ case.feature_photo_credit }}</span>
		</div>
	</div>
</section>