<section id="common-cause" class="common-cause" style="background-image: url({{common_cause.get_field('background_img')}}) ">
	<div class="content">

		<div class="centered-title">
			<h2 class="white-h1">
				{{common_cause.title}}
			</h2>
		</div>
		<div class="content-textwhite">
			{{common_cause.content}}
		</div>
	</div>
{# <div class="common-cause-controller">
	<div class="controls" id="prev"> < </div>
    <div class="common-cause-pager"></div>
   	<div class="controls" id="next"> > </div>
</div> #}
<div class="center" align="center" vertical-align="middle" height="267px">

    <!-- <div class="controls" id="prev"> < </div>
    <div class="common-cause-pager"></div>
   	<div class="controls" id="next"> > </div> -->
    <div class="pager">
        <div class="controls" id="prev"></div>
        <div id="thumbnail-pager" class="cycle-pager external"></div>
        <div class="controls" id="next"></div>
    </div>
    <div class="cycle-slideshow" 
    data-cycle-fx="scrollHorz"
    data-cycle-timeout="0"
    data-cycle-prev=".common-cause #prev"
    data-cycle-next=".common-cause #next"
    data-cycle-slides=".slide"
    data-cycle-pager="#thumbnail-pager"
    >
        <!-- empty element for pager links -->
        <!-- empty element for pager links -->
        {% for slide in common_cause.get_field('gallery') %}
                
        <div class="slide" data-cycle-pager-template="<a href=#><span class='index' style='background-image: url( {{ slide.slide_image.url }} )'><em>{{ loop.index }}</em></span></a>" style="background-image:url({{ slide.slide_image.url }})">
            <h3>{{ slide.slide_title }}</h3>  
            <div class="slide-text">
                {{ slide.slide_text }}

            </div>
            <span class="photo-credit">Photo Credit: {{slide.photo_cred}}</span>
        </div>
        {% endfor %}       
        <div class="control-container">
            <div class="controls" id="prev"></div>
            <div class="controls" id="next"></div>
        </div>
    </div>

</section>