<section id="women-climate" class="women_climate" style="background-image: url({{women_climate.get_field('background_img')}}) ">

    <div class="centered-title">
     <h2> 
      {{women_climate.title}}
  </h1>
</div>

<div class="center" align="center" vertical-align="middle" height="267px">
    <ul class="cycle-slideshow" 
    data-cycle-fx="scrollHorz"
    data-cycle-timeout="0"
    data-cycle-pager=".women-cycle-pager"
    data-cycle-prev="#prev"
    data-cycle-next="#next"
    data-cycle-slides=".slide"
    >  

    <!-- empty element for pager links -->
    <div class="cycle-pager "></div>
    {% for slide in women_climate.get_field('gallery') %}
        
    <div class="slide">
        <div    class="circle" 
                style="background-image:url({{ slide.slide_image.url }})">
            <img src="{{ slide.slide_icon }}"/></div>
            <div class="slide-text">
                {{ slide.slide_text }}
                <span class="photo-cred">Photo Cred: {{slide.photo_cred}}</span>
            </div>

        </div>
    {% endfor %}
</ul>
<div class="controls" id="prev"></div>
<div class="controls" id="next"></div>

</div>
<section class="pager">
    <div class="women-cycle-pager"></div>
</section>




</section>



